.rightDropDown {
  vertical-align: top;
  cursor: pointer;
  padding-right: 20px;
  > i {
    font-size: 16px !important;
    transform: none !important;
    svg {
      position: relative;
      top: -1px;
    }
  }
}
